
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
{% if page.description != false %}<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">{% endif %}
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

{% if site.owner.twitter %}<!-- Twitter Cards -->
{% if page.image.feature %}<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/images/background_sf_pano.jpg">
{% else %}<meta name="twitter:card" content="{% if page.og.tw_card_type %}{{ page.og.tw_card_type }}{% else %}summary{% endif %}">
<meta name="twitter:site" content="@{{ site.owner.twitter }}">
<meta name="twitter:title" content="{% if page.og.title %}{{ page.og.title }}{% else if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:text:title" content="{% if page.og.title %}{{ page.og.title }}{% else if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.owner.twitter }}">
<meta name="twitter:image" content="{{ site.url }}{% if page.og.tw_card_image %}{{ page.og.tw_card_image }}{% else %}/images/background_sf_pano_300x300.jpg{% endif %}">{% endif %}
{% if page.og.description != false %}<meta name="twitter:description" content="{% if page.og.description %}{{ page.og.description }}{% else if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">{% endif %}
{% endif %}

<!-- Open Graph -->
<meta property="og:locale" content="{% if page.og.locale %}{{ page.og.locale}}{% else %}ja_JP{% endif %}">
<meta property="og:type" content="{% if page.og.type %}{{ page.og.type }}{% else %}summary{% endif %}">
<meta property="og:image" content="{{ site.url }}{% if page.og.image %}{{ page.og.image }}{% else %}/images/background_sf_pano_300x300.jpg{% endif %}">
<meta property="og:title" content="{% if page.og.title %}{{ page.og.title }}{% else if page.title %}{{ page.title }}{% else %}{{ site.title }} {% endif %}">
{% if page.og.description != false %}<meta property="og:description" content="{% if page.og.description %}{{ page.og.description }}{% else if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% if page.og.site_name != false %}<meta property="og:site_name" content="{% if page.og.site_name %}{{ page.og.site_name }}{% else if page.title %}{{ page.title }}{% else %}{{ site.title }} {% endif %}">{% endif %}

{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
<!-- Webfonts -->
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

<!-- Polymer -->
<script src="https://polygit.org/components/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="import" href="{{ site.url }}/assets/components/youtube-play.html">
<link rel="import" href="{{ site.url }}/assets/components/language-selector.html">

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/images/profile_photo.jpg">
<link rel="icon" type="image/jpeg" href="{{ site.url }}/images/profile_photo.jpg">

{% if page.image.background or site.background %}
{% capture background %}{% if page.image.background %}{{ page.image.background }}{% else %}{{ site.background }}{% endif %}{% endcapture %}
{% unless background contains 'http://' or background contains 'https://' %}{% capture background %}{{ site.url }}/images/{{ background }}{% endcapture %}{% endunless %}
<style type="text/css">body {background-image:url({{ background }});}</style>
{% endif %}
