h2 {
  margin: 20px 0 2.5px 0;
}
h3.read-more-next {
  font-size:1.75rem;
}
span.read-more-next {
  font-size:0.875rem;
  color:rgba(102,102,102,0.8);
}
h3 {
  margin: 20px 0 2.5px 0;
}
h4 {
  font-size: 1em; 
  margin: 20px 0 2.5px 0;
}
ul {
  margin-top: 0.5px;
}
li.entry-content {
  margin-bottom: 0.5px;
}
p {
  margin: 0px 0 10px 0;
} 
.post-image-center {
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  margin: 10px 0px;
}
img {
  margin: 3px 0 13px 0;
}
.image-bordered {
  border: 1px solid #efefef;
}
