body {
  font-family: arial;
  margin:0 auto;
  max-width:400px;
}
#title {
  font-size:28px;
  font-weight:bold;
  text-align:center;
  width:100%;
  padding:0px 0;
  padding-top:35px;
}
#inputblock {
  width:100%;
  padding-top:10px;
  margin:10px auto;
  text-align:center;
}
#message-area {
  width:100%:
  text-align:center;
  margin:10px auto;
}
#disp-input-port {
  float:left;
  margin:0px auto;
  margin-bottom:0px;
  border:0px solid #ddd;
  border-radius:3px;
  padding:10px;
  width:254px;
  height:202px;
  text-align:left;
  background-color:#424242;
  color:#E0E0E0;
  font-size:16px;
  font-family: 'Roboto Mono', monospace;
}
#message-history {
  float:left;
  margin:0px;
  margin-left: 4px;
  margin-bottom:0px;
  border:0px solid #ddd;
  border-radius:3px;
  padding:10px;
  width:100px;
  height:202px;
  text-align:left;
  background-color:#424242;
  color:#E0E0E0;
  font-size:16px;
  font-family: 'Roboto Mono', monospace;
  overflow:auto;
}
#disp-msg-exp {
  margin-top:20px;
  width:400px;
  height:190px;
  background-color:#DDF0FF;
  color:#2196F3;
  border-radius:5px;
}
#button-area {
  float:left;
  width:100%;
}
#state-button {
  float:left;
  text-align:left;
  padding:5px 0px 0px 5px;
}
#clear-button {
  float:right;
  margin:;
  padding:5px 5px 0px 0px;
}
#clear {
  clear:both;
}
#exp-msg{
  margin:25px auto;
  margin-bottom:0px;
  padding: 0px;
  padding-top: 5px;
  font-weight:bold;
  font-size:94px;
  font-family: 'Roboto Mono', monospace;
}
#exp-name{
  margin-top:65px;
  margin-left:10px;
  font-size:20px;
  text-align:left;
}
#rawmsg-title {
  margin:0px auto;
}
#rawmsg-title-text {
  color:#424242;
  background-color:#ffffff;
}
.blue500{color:#4285f4}
.red700{color:#DB4437}
.red200{color:#e57368}
.yellow700{color:#f4b400}
.yellow500{color:#fbcb43}
.green500{color:#33b679}
.spacing {margin-left:18px}
.strong{font-weight:bold}